@import 'src/styles/scaffold';

.qxNewstickerItem {
  &[data-qx-newsticker-item] {
    display: flex;
    flex-direction: row;
    gap: var(--qx-spacing-0);
    padding: 2px;
    align-items: flex-start;
    overflow: hidden;
    color: var(--qx-color-text-1);
    font-family: var(--qx-text-face-roboto);
    font-size: var(--qx-text-size-1);

    cursor: pointer;
    user-select: none;
  }

  &[data-qx-newsticker-item-inverted='false'] {
    background-color: var(--qx-color-background-5);
  }

  &[data-qx-newsticker-item-inverted='true'] {
    background-color: var(--qx-color-background-4);
  }

  &[data-qx-newsticker-item-open='true'] {
    [data-qx-newsticker-item-content] {
      height: calc(var(--qx-text-size-1) * 2.5);
      @include truncate-title(2);
    }
  }

  [data-qx-newsticker-item-content] {
    @include truncate-title(1);

    transition: height 0.3s ease-in-out;
    height: 16px;
  }
}
