@import 'src/styles/scaffold';

main,
.layout__main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.layout__section {
  padding-bottom: var(--qx-spacing-4);
  margin-top: var(--qx-spacing-4);

  @include media('>=notebook') {
    padding-bottom: var(--qx-grid-padding);
    margin-top: var(--qx-grid-padding);
  }
}

.layout__content-full {
  width: 100%;
  padding-top: var(--qx-spacing-4);
  padding-bottom: var(--qx-spacing-4);

  @include media('>=notebook') {
    padding-top: var(--qx-grid-padding);
    padding-bottom: var(--qx-grid-padding);
  }
}

.layout__content {
  box-sizing: border-box;
  width: 100%;
  max-width: var(--qx-grid-breakpoint-desktop);
  padding-right: var(--qx-grid-padding);
  padding-left: var(--qx-grid-padding);
  margin-right: auto;
  margin-left: auto;
}
