@tailwind base;

@layer base {
  .layout-main {
    @apply flex;
    @apply flex-col;
    @apply flex-wrap;
    @apply gap-4;
    grid-area: content;
  }

  .layout-section {
    @apply pb-4;
    @apply mt-4;
    @apply md:pb-6;
    @apply md:mt-6;
    @apply xl:pb-8;
    @apply xl:mt-8;
  }

  .layout-content-full {
    @apply w-full;
    @apply py-6;
    @apply md:py-7;
    @apply xl:py-8;
  }

  .layout-content {
    @apply block;
    @apply box-border;
    @apply w-full;
    @apply max-w-screen-2xl;
    @apply px-4;
    @apply md:px-6;
    @apply xl:px-8;
    @apply mx-auto;
  }

  .background-main {
    @apply bg-100;
    @apply bg-no-repeat;
    @apply bg-left-top;
  }

  @media screen(xl) {
    .background-main {
      background-position: center top;
    }
  }

  .page-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'header' 'content';
  }

  @media screen(xl) {
    .page-layout {
      column-gap: 0.5rem;
      grid-template-columns: 205px auto 205px;
      grid-template-areas:
        'header header header'
        'navigation content sidebar';
    }
  }
}
