@tailwind base;

.Toastify__toast {
  position: relative;
  padding: 0;
  @apply bg-1100;
}

.Toastify__toast-container {
  z-index: 99999;
}

.Toastify__close-button {
  position: absolute;
  top: 10px;
  right: 16px;
}

.Toastify__toast-body {
  margin: 0;
  padding: 0;
  border: 17px solid;
  border-image-source: url('../../assets/images/borders/menu-borders.png');
  border-image-slice: 17;
  @apply text-secondary;
}

.Toastify__progress-bar {
  z-index: 1;
  width: 90.3%;
  margin: 0 auto;
  position: absolute;
  bottom: 4px;
  left: 15px;
}
