// ----------------------------------------------------------
// GLOBAL STYLES
// Utilities
// ----------------------------------------------------------

/* SQ-DISABLE */
@use 'sass:math';

@mixin truncate-title($max-lines: var(--qx-text-max-lines)) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-line-clamp: $max-lines;
  line-clamp: $max-lines;
  text-overflow: -o-ellipsis-lastline;
  text-overflow: ellipsis;
}

@mixin input() {
  label {
    font-size: var(--qx-text-size-2);
    font-weight: var(--qx-text-weight-regular);
    color: var(--qx-color-text-1);
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }

  input,
  select {
    background-color: var(--qx-color-default-white);
    border: 1px solid var(--qx-color-border-5);
    font-size: var(--qx-text-size-1);
    font-weight: var(--qx-text-weight-regular);
    color: var(--qx-color-default-black);
    padding: var(--qx-spacing-0);
    &:focus {
      outline: 1px solid var(--qx-color-border-0);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
