@import 'src/styles/scaffold';

.qxCreateAccountForm {
  [data-qx-inputs-wrapper],
  [data-qx-form-errors-wrapper],
  [data-qx-form-errors-list],
  [data-qx-input-terms-wrapper] {
    display: flex;
    flex-direction: column;
    gap: var(--qx-spacing-1);
  }

  [data-qx-form-error-item] {
    span {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--qx-spacing-0);
      font-size: var(--qx-text-size-1);
      color: var(--qx-color-error);
      b {
        color: var(--qx-color-text-1);
        text-transform: capitalize;
        font-weight: var(--qx-text-weight-bold);
      }
    }
  }

  [data-qx-form-error-item],
  [data-qx-form-input] {
    display: flex;
    align-items: center;
    gap: var(--qx-spacing-0);
  }

  [data-qx-form-actions] {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  [data-qx-input-terms-title],
  [data-qx-form-errors-title] {
    font-size: var(--qx-text-size-2);
    font-weight: var(--qx-text-weight-bold);
    color: var(--qx-color-text-1);
  }

  [data-qx-input-consent],
  [data-qx-input-terms] {
    color: var(--qx-color-text-1);
    font-size: var(--qx-text-size-1);

    input[type='checkbox'] {
      margin-right: var(--qx-spacing-0);
    }
  }

  [data-qx-form-error-item] {
    label {
      width: 25%;
    }

    @include media('>=notebook') {
      label {
        width: 15%;
      }
    }
  }

  [data-qx-form-input] {
    input {
      flex: 1;
    }

    label {
      width: 25%;
    }

    @include media('>=notebook') {
      label {
        width: 15%;
      }
    }

    @include input();

    &[data-qx-form-input-error='true'] {
      input {
        border: 1px solid var(--qx-color-error);

        &:focus {
          outline: none;
        }
      }
    }
  }
}
