@import 'src/styles/scaffold';

.qxLayout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'header'
    'content';

  @include media('>=notebook') {
    column-gap: var(--qx-grid-gap-0);
    grid-template-columns: 205px auto 205px;
    grid-template-areas:
      'header header header'
      'navigation content sidebar';
  }

  [data-qx-navigation] {
    grid-area: navigation;
  }

  [data-qx-sidebar] {
    grid-area: sidebar;
  }

  [data-qx-main] {
    grid-area: content;
    display: flex;
    flex-direction: column;
    gap: var(--qx-spacing-3);
  }

  [data-qx-navigation],
  [data-qx-sidebar] {
    @include media('<=notebook') {
      display: none;
    }
  }
}
