.qxInnerContainer {
  display: block;
  width: 100%;
  height: max-content;
  position: relative;
  box-shadow: 3px 3px 3px var(--qx-color-shadow-1);
  border: 1px solid var(--qx-color-border-4);
  background-color: var(--qx-color-background-5);
  margin-bottom: var(--qx-spacing-0);
  padding: var(--qx-spacing-0);
  outline: 1px solid var(--qx-color-border-5);
}
