@import 'src/styles/scaffold';

.qxLoginForm {
  display: flex;
  flex-direction: column;
  gap: var(--qx-spacing-1);

  [data-qx-login-form-input] {
    display: grid;
    grid-template-columns: minmax(30px, 80px) 1fr;
    align-items: center;
    gap: var(--qx-spacing-0);

    @include media('>=tablet') {
      grid-template-columns: 100px 1fr;
      grid-column: 1 / 3;
    }

    label {
      font-size: var(--qx-text-size-2);
      font-weight: var(--qx-text-weight-regular);
      color: var(--qx-color-text-1);
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px white inset !important;
    }

    input {
      background-color: var(--qx-color-default-white);
      border: 1px solid var(--qx-color-border-5);
      font-size: var(--qx-text-size-1);
      font-weight: var(--qx-text-weight-regular);
      color: var(--qx-color-default-black);
      padding: var(--qx-spacing-0);
      &:focus {
        outline: 1px solid var(--qx-color-border-0);
      }
    }

    [data-qx-login-form-error] {
      font-size: var(--qx-text-size-0);
      font-weight: var(--qx-text-weight-regular);
      color: var(--qx-color-error);
      grid-column: 2 / 2;
    }

    &[data-qx-login-form-input-error='true'] {
      input {
        border: 1px solid var(--qx-color-error);

        &:focus {
          outline: none;
        }
      }
    }
  }

  [data-qx-login-form-actions] {
    display: flex;
    justify-content: space-between;
    gap: var(--qx-spacing-1);

    @include media('>=tablet') {
      justify-content: flex-end;
    }
  }
}
