@import 'src/styles/scaffold';

.qxMenuItem {
  [data-qx-menu-item] {
    background-image: url('../../../../../assets/images/buttons/button-menu.webp');
    background-repeat: no-repeat;
    width: 170px;
    height: 32px;
    padding: 0 var(--qx-spacing-0);
    position: relative;
    cursor: pointer;
    transition: filter 0.2s ease-in-out;
    display: flex;
    gap: var(--qx-spacing-0);
    align-items: center;

    &:hover {
      filter: brightness(1.1) contrast(1.1) saturate(1.1);
    }
  }

  [data-qx-menu-item-text] {
    flex: 1;
    text-transform: capitalize;
    font-size: var(--qx-text-size-2);
  }

  [data-qx-menu-sub-list] {
    height: 0;
    overflow: hidden;
    transition: height 1s ease-in-out;
    display: flex;
    flex-direction: column;
    width: 170px;
    position: relative;
    padding: 0 2px;

    &[data-qx-menu-sub-list-active='true'] {
      height: auto;
    }

    [data-qx-chain-right='false'] {
      left: 0;
    }

    [data-qx-chain-right='true'] {
      right: 0 !important;
    }

    [data-qx-menu-sub-item] {
      font-size: var(--qx-text-size-0);
      color: var(--qx-color-default-white);
      background-color: var(--qx-color-background-1);
      border-bottom: 1px solid var(--qx-color-border-0);
      cursor: pointer;
      padding: 2px var(--qx-spacing-1);
      text-decoration: none;
      font-family: var(--qx-text-face-poppins);

      @include truncate-title(1);

      &:hover {
        background-color: var(--qx-color-background-2);
      }

      [data-qx-menu-sub-item-active] {
        margin-right: var(--qx-spacing-0);
      }
    }
  }
}
