@import 'src/styles/scaffold';

.qxAccountStatusSection {
  [data-qx-account-section-status] {
    display: flex;
    flex-direction: column;
    gap: var(--qx-spacing-3);

    @include media('>=notebook') {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    [data-qx-account-section-status-actions] {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: var(--qx-spacing-0);

      @include media('>=notebook') {
        display: flex;
        flex-direction: column;
      }
    }

    [data-qx-account-section-info] {
      display: flex;
      flex-direction: row;
      gap: var(--qx-spacing-2);
      align-items: center;

      [data-qx-account-section-info-text] {
        display: flex;
        flex-direction: column;
        gap: var(--qx-spacing-0);
      }

      h2 {
        font-weight: 700;
        font-size: 14pt;
        color: var(--qx-color-error);

        &[data-qx-account-section-premium='true'] {
          color: var(--qx-color-success);
        }
      }

      p {
        font-weight: var(--qx-text-weight-regular);
        font-size: var(--qx-text-size-0);
        color: var(--qx-color-text-1);
      }
    }
  }

  [data-qx-account-premium-benefits-list] {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: var(--qx-spacing-1);

    @include media('>=notebook') {
      gap: var(--qx-spacing-3);
      grid-template-columns: repeat(3, 1fr);
    }

    [data-qx-account-premium-benefits-item] {
      display: flex;
      align-items: center;
      gap: var(--qx-spacing-0);

      span {
        font-size: var(--qx-text-size-1);
        color: var(--qx-color-text-1);
        font-weight: var(--qx-text-weight-regular);
        font-family: var(--qx-text-face-poppins);
        text-align: left;
      }
    }
  }
}
