@import 'src/styles/scaffold';

.qxButton {
  &[data-qx-button] {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    @include truncate-title(1);

    &:disabled {
      cursor: not-allowed;
      opacity: 0.8;
    }

    &:not(&:disabled) {
      &:hover {
        filter: brightness(1.1) contrast(1.1) saturate(1.1);
      }
    }

    &[data-qx-button-link] {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
    }

    text-transform: capitalize;
  }

  &[data-qx-button-variant='info'],
  &[data-qx-button-variant='green'],
  &[data-qx-button-variant='red'] {
    width: 135px;
    height: 25px;
    background-repeat: no-repeat;
    font-size: var(--qx-text-size-1);
  }

  &[data-qx-button-variant='info'] {
    background-image: url('../../../assets/images/buttons/button_blue.gif');
  }

  &[data-qx-button-variant='green'] {
    background-image: url('../../../assets/images/buttons/button_green.gif');
  }

  &[data-qx-button-variant='red'] {
    background-image: url('../../../assets/images/buttons/button_red.gif');
  }

  &[data-qx-button-variant='larger'],
  &[data-qx-button-variant='regular'] {
    padding: 0 var(--qx-spacing-1);

    &[data-qx-button-variant='larger'] {
      background-image: url('../../../assets/images/buttons/button-extend.webp');
      width: 150px;
      height: 34px;
      background-repeat: no-repeat;
    }

    &[data-qx-button-variant='regular'] {
      background-image: url('../../../assets/images/buttons/button.webp');
      width: 142px;
      height: 34px;
      background-repeat: no-repeat;
    }
  }
}
