.qxMenuBox {
  // BOX
  --qx-menu-box-width: 180px;

  // CONTENT
  --qx-menu-box-content-width: 160px;
  --qx-menu-box-content-background-image: url('../../../assets/images/background/loginbox-textfield.webp');
  --qx-menu-box-content-padding: 0 var(--qx-spacing-1);
  --qx-menu-box-content-gap: var(--qx-spacing-0);

  // CHAIN
  --qx-menu-box-chain-width: 7px;
  --qx-menu-box-chain-background-image: url('../../../assets/images/borders/chain.webp');

  display: flex;
  flex-direction: column;
  width: var(--qx-menu-box-width);
  align-items: center;

  [data-qx-content] {
    width: var(--qx-menu-box-content-width);
    height: 100%;
    background-image: var(--qx-menu-box-content-background-image);
    background-repeat: repeat-y;
    position: relative;
    padding: var(--qx-menu-box-content-padding);
    display: flex;
    flex-direction: column;
    gap: var(--qx-menu-box-content-gap);
    justify-content: center;
    align-items: center;
  }

  [data-qx-chain] {
    position: absolute;
    background-image: var(--qx-menu-box-chain-background-image);
    background-repeat: repeat-y;
    width: var(--qx-menu-box-chain-width);
    height: 100%;
    left: -4px;
    top: 0;

    &[data-qx-chain-right='true'] {
      left: auto;
      right: -4px;
    }
  }
}
