.qxWorldsSection {
  [data-qx-table-worlds] {
    border: 1px solid lightgray;
    width: 100%;
    border-collapse: collapse;

    tbody {
      border-bottom: 1px solid lightgray;
    }

    th {
      border-bottom: 1px solid lightgray;
      border-right: 1px solid lightgray;
      padding: 2px 4px;
    }

    tfoot {
      color: gray;
    }

    tfoot th {
      font-weight: normal;
    }
  }
}
