.qxCharacterList {
  display: flex;
  box-shadow: 3px 3px 2px #875f3e;
  outline: 1px solid #5f4d41;
  background-color: #d4c0a1;

  table {
    width: 100%;

    border-collapse: collapse;

    thead th {
      text-align: start;
      border: 1px solid #faf0d7;
      padding: var(--qx-spacing-0);
    }

    tbody {
      tr:nth-child(odd) {
        background-color: rgb(241, 224, 198);
      }
    }

    tbody td {
      padding: var(--qx-spacing-0);
      text-align: start;
      border: 1px solid #faf0d7;
    }
  }
}
