# This Action should run on main branch and verify lint, test, and then publish the version on npm
name: CD

on:
  push:
    branches:
      - main

jobs:
  build:
    name: commerce
    timeout-minutes: 15
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.COMMERCE_GITHUB_BOT_TOKEN }}
          fetch-depth: 2

      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: "https://registry.npmjs.org"

      - uses: pnpm/action-setup@v2
        name: Install pnpm
        id: pnpm-install
        with:
          version: 7
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Configure CI Git User
        run: |
          git config user.name commercebot
          git config user.email commercebot@github.com

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm build

      - name: Size
        run: pnpm size

      - name: Lint
        run: pnpm lint

      - name: Publish
        run: pnpm release
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
